@if (visible()) {
  <div class="fixed inset-0 z-[9998] bg-black/40">
    <div
      hlmCard
      class="fixed right-6 bottom-6 z-[9999] flex w-88 flex-col gap-5 p-6 shadow-lg max-sm:right-0 max-sm:bottom-0 max-sm:w-full max-sm:rounded-b-none"
    >
      <p class="text-muted-foreground text-sm leading-relaxed">
        We use cookies to provide the best experience on our site. You can find more details in our
        <a [routerLink]="['/site/cookies']" class="text-primary underline underline-offset-2">
          Cookie Policy </a
        >.
      </p>
      <button hlmBtn type="button" (click)="accept()">I understand</button>
    </div>
  </div>
}
